---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="About me">
  <div class="flex flex-col gap-2">
    <div class="text-sm font-light">
      <p>
        Hi, I'm Yoseph Rafael, a ui/ux designer and frontend web dev from indonesia.
        <br />
        My primary tools of choice includes:
      </p>
      <ul class="list-disc list-inside">
        <li>Figma</li>
        <li>HTML/CSS</li>
        <li>ReactJS</li>
        <li>Adobe</li>
      </ul>
    </div>
    <p class="text-sm font-light">
      My journey has been enriched from the start in both academia and professional environments, driven by a deep passion for design. I am well-versed in the standard tools and methodologies of industries and have a special mastery over using design thinking in solving complex problems with impactful design solutions.
    </p>
    <p class="text-sm font-light">
      i love chocolate.
    </p>
  </div>
</Card>
