---
import Card from "./Card/index.astro";
import Pulse from "./Pulse.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-2">
  <div class="flex justify-between w-full items-start mb-2">
    <div class="flex flex-col">
      <h2>Now</h2>
      <a href="https://infodev.halalhero.id" target="_blank">
        <span class="text-xs text-gray-500 cursor-pointer">"what do you do for a living" lol</span>
      </a>
    </div>
    <Pulse />
  </div>
  <a href="https://infodev.halalhero.id" target="_blank">
  <p class="text-xs">Sedang berdoa agar diluluskan SNBT dengan skor 800.</p></a>
</Card>
